*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.bulk-actionStrip{
    display: flex;
    width: 627px;
    height: 32px;
    align-items: center;
    justify-content: space-between;
    margin-left: 272.5px;
    margin-top: 70px;
    margin-bottom: 30px;
}
.bulk-selected-item{
    display: flex;
    align-items: center;
    gap: 10px;
}
.bulk-remove-item{
    display: flex;
    align-items: center;
    gap: 20px;
}
.bulk-remove-item div{
    display: flex;
    align-items: center;
    height: 29px;
}


.bag-layout{
    max-width: 1050px;
    margin: auto;
    padding: 0 10px 16px;
    min-height: 320px;
    color: #282c3f;
    background-color: bisque;
    display: flex;
}
.bag-layout-left{
    /* display: inline-block; */
    width: 64%;
    border-right: 1px solid #eaeaec;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
.bag-layout-right{
    vertical-align: top;
    display: inline-block;
    width: 35%;
    padding: 24px 0 0 16px;
    background-color: aquamarine;
}


.bag-item{
    display: flex;
    gap: 10px;
    padding: 13px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(196, 196, 196);
    border-radius: 3px;
}
.bag-item-left{
    position: relative;
    /* display: flex; */
}
.bag-item-left img{
    width: 115px;
    height: 150px;
}
.bag-item-left input{
    position: absolute;
    left: 7px;
    top: 7px;
    height: 17px;
    width: 17px;
}
.bag-item-right{
    display: flex;
    flex-direction: column;
    width: 800px;
    gap: 5px;
}
.bag-item-right .item-name-cross{
    display: flex;
    justify-content: space-between;
}
.bag-item-right .item-details{
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
    position: relative;
    top: -6px;
    border-bottom: 1px solid  rgb(215, 215, 215);
    height: 50px;
}
.bag-item-right .size-qty{
    display: flex;
    gap: 5px;
}
.bag-item-right .size-qty .update-size, .update-qty{
    /* height: 16px; */
    padding: 2px 5px;
    background: #eeeeee;
    color: #232638;
    font-weight: 600;
    /* cursor: pointer; */
    margin-right: 12px;
    border-radius: 2px;
    line-height: 16px;
}
.bag-item-right .size-qty .update-qty .select-qty {
    border: none;
    background: #eeeeee;
    outline: none;
}
.bag-item-right .size-qty .update-qty .select-qty:hover{
    cursor: pointer;
}

.bag-item-right .price{
    display: flex;
    gap:7px;
    margin-top: 10px;
}

/* Modal Css */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}
.remove-bagitem-modal{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #ffffff;
    padding: 13px;
    gap: 10px;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 3px;
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
    z-index: 100;
}
.remove-bagitem-modal .item-details{
    display: flex;
    gap: 10px; 
    padding-bottom: 3px;
    border-bottom: 1px solid  rgb(215, 215, 215);
}
.item-details-name{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.remove-bagItem{
    display: flex;
}
.remove-bagItem-btn{
    font-size: 10px; 
    font-weight: 700; 
    width: 150px;
    display: flex;
    justify-content: center;
}
.remove-bagItem-btn:hover{
    cursor: pointer;
}

.over-lay{
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    background-color: rgba(57, 57, 57, 0.459);
    opacity: 1;
    pointer-events:none;
    z-index: 1;
}